h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	color: #6b6b6b;
	margin: 0;
}
select {
	-webkit-appearance: none;
	display: block;
}

select>option {
	color: #000;
}

input::-webkit-input-placeholder {
	-webkit-transition: 300ms color;
	-o-transition: 300ms color;
	transition: 300ms color;
	color: transparent;
}

input::-moz-placeholder {
	-webkit-transition: .3s color;
	-o-transition: .3s color;
	transition: .3s color;
	color: transparent;
}

input:-ms-input-placeholder {
	-webkit-transition: .3s color;
	-o-transition: .3s color;
	transition: .3s color;
	color: transparent;
}

input:-moz-placeholder {
	-webkit-transition: .3s color;
	-o-transition: .3s color;
	transition: .3s color;
	color: transparent;
}

input[type=text]:focus,
input[type=password]:focus {
	border-color: #4aa8d3;
}

input:focus::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color: #666
}

input:focus::-moz-placeholder,textarea::-moz-placeholder {
	color: #777
}

input:focus::-ms-input-placeholder,textarea::-ms-input-placeholder {
	color: #777
}

input:focus::-moz-placeholder,textarea::-moz-placeholder {
	color: #777
}

input[type=text]~label,
input[type=password]~label,
select~label {
	font-size: 11px;
	letter-spacing: 5px;
	font-weight: 600;
	text-transform: uppercase;
	color: #777777;
	pointer-events: none;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	left: 3px;
	top: 9px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

input[type=text]:focus~label,
input[type=text]:valid~label,
input[type=password]:focus~label,
input[type=password]:valid~label, label.top {
	top: -15px;
	color: #000;
}

input[type=submit],
input[type=button] {
	cursor: pointer;
	border: 0px;
	padding: 14px;
	font-weight: 600;
	font-size: 12px;
	padding: 13px 35px;
	text-transform: uppercase;
	background-color: #4aa8d3;
	border-radius: 5px;
	color: #FFF;
	margin: 10px 0px 0px 0px;
}
input.error,
select.error {
	border-color:red;
}
input,
select {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	border: none;
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	display: block;
	border-bottom: 2px solid #a9a9a9;
	padding: 5px 3px;
	outline: none;
	margin: 35px 0px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
div.input-class {
	position: relative;
}
.hidden{
	display:none;
}
div.input-class i.fa-caret-down{
	color:#6b6b6b7d;
	position: absolute;
	top: 10px;
	right: 0px;
}
span.txerror{
	background: #f3f3f3;
    padding: 0px 5px !important;
    border-radius: 30px;
    right: 3px !important;
    bottom: 6px !important;
}
div.input-class span.error, span.txerror{
	position: absolute;
    color: red;
    font-size: 10px;
    right: 0px;
    bottom: -13px;
    display: inline-block;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
div#login-area {
    max-width: 450px;
    width: calc(100% - 20px);
    background: #ffffff59;
    padding: 40px 35px 35px 35px;
    margin: 90px auto;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 15px 15px 30px -15px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    position: relative;
}

div#login-area a {
	font-size: 11px;
	display: block;
	text-align: right;
	margin-top: 20px;
	font-weight: 700;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	padding: 0;
	margin: 0;
	background: url('../img/back_last.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
textarea.error {
	background:#e0b9b985 !important;
	border-color:#e655556e !important;
}
textarea {
    background: #cacaca85;
    outline: none;
    border: 1px solid #b0b0b0;
    resize: none;
    width: 100%;
    height: 80px;
    padding: 10px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
textarea:focus{
	height:150px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1.title{
	margin: 30px 0px 0px 0px;
	font-size:35px;
	font-weight: 700;
}
h2.title{
	margin: 10px 0px 30px 0px;
	font-size:25px;
	font-weight: 400;
}
h1.title,h2.title{
    text-align: center;

    text-shadow: 3px 2px 2px #00000057;
    display: block;

    
    color: #f7f7f7;
}
img.logo{
	max-width: 150px;
    width: 100%;
    display: block;
    text-align: center;
    margin: -100px auto -30px auto;
} 
/* ################## BOOTSTRAP TOOLTIP CSS #####################3 */
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	line-break: auto;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	font-size: 12px;
	filter: alpha(opacity=0);
	opacity: 0
}

.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9
}

.tooltip.top {
	padding: 5px 0;
	margin-top: -3px
}

.tooltip.right {
	padding: 0 5px;
	margin-left: 3px
}

.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px
}

.tooltip.left {
	padding: 0 5px;
	margin-left: -3px
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
